
.betList-match {
    padding: 0;

    .betList-match-cell {
        padding: 10px 15px;
        text-align: center;
    }

    .betList-match-teams {
        border-right: 2px solid #ddd;
    }

}




