.selectedTeam,
.selectedTeam:hover,
.selectedTeam:focus  {
  background-color: #00ffa1c4;
  cursor: pointer;
}

.championsLeague {
  background: url('//cdn6.aptoide.com/imgs/4/2/8/428885c8dc7f3c9194b748250e1dea01_icon.png?w=256') no-repeat;  
}
.premierLeague {
  background: url('//cdn.iconscout.com/public/images/icon/free/png-256/the-premier-league-logo-311057103d3d6a1d-256x256.png') no-repeat;  
}
