<div class="col-xs-6 col-md-5">
  <ul class="nav nav-pills nav-stacked">
    <li class="matchList" *ngFor ="let match of matches" (click)="addBet($event, match, firstTeam, draw, secondTeam)">
      <a href="#" class="col-md-4 text-left" #firstTeam>{{match.team1}}</a>
      <a href="#" class="col-md-4 text-center" #draw>Draw</a>
      <a href="#" class="col-md-4 text-right" #secondTeam>{{match.team2}}</a>
    </li>
  </ul>
  <button class="btn btn-primary" (click)="submitBet()">Submit bet</button>
</div>