.selectedTeam,
.selectedTeam:hover,
.selectedTeam:focus  {
  background-color: #00ffa2;
  cursor: pointer;
}

.competition {
  border: 1px solid #bbb7b7;
  margin: 20px 0;
}

.competition-header {
  padding: 5px 10px 5px 16px;
  border-bottom: 1px solid #bbb7b7;
  background-color: #bbb7b7;
  background-position: 5px;
  background-size: 30px;
  background-color: #bbb7b7;
  cursor: pointer;
  font-weight: bold;
}

.competition-header-logo {
  width: 30px;
  margin-right: 10px;
}

.opened+ul {
  display: none;
}

.competition-toggleArrow {
  border: solid #333;
  border-width: 0 4px 4px 0;
  padding: 4px;
  float: right;
  margin: 5px 5px 0 0;
  transform: rotate(-135deg);
}

.opened .competition-toggleArrow {
  transform: rotate(45deg);
}

.matchList-result {
  cursor: pointer;
}